@import 'variables';

// Mixin for responsive media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: $bp-mobile) { @content; }
  } @else if $breakpoint == tablet {
    @media (min-width: $bp-tablet) { @content; }
  } @else if $breakpoint == laptop {
    @media (min-width: $bp-laptop) { @content; }
  } @else if $breakpoint == desktop {
    @media (min-width: $bp-desktop) { @content; }
  }
}

// Mixin for standard flexbox centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}